<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
    xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ feed.title }}</title>
        <link>{{ feed.link }}</link>
        <description>{{ feed.description }}</description>
        <lastBuildDate>{{ feed.lastBuildDate|date("D, d M Y H:i:s O") }}</lastBuildDate>
        <generator>Mastotrends</generator>
        <atom:link href="{{ feed.self_link }}" rel="self" type="application/rss+xml" />

        {% for item in items %}
        <item>
            <title>{{ item.title }}</title>
            <link>{{ item.link }}</link>
            <enclosure url="{{ item.image }}" length="0" type="{{ item.image_mime }}"/>
            <description><![CDATA[{{ item.description|raw }}]]></description>
            <guid>{{ item.guid }}</guid>
            {% if item.image %}
            {% endif %}
        </item>
        {% endfor %}
    </channel>
</rss>
